head
{
  color: cyan;
  background-color: red;
}

u
{
  color: green;
}

body
{
  background-color: lightblue;
}

p
{
  font-family: verdana;
  color: green;

}


h2
{
  border-width: medium;
  border-style: dashed;
}
